@using BotonesRelease.Models
@model Cart
@{
    ViewBag.Title = "Cart";
}


    <div class="text-center">
        <div style="font-size: 1.2em;"> Subtotal (@Model.ItemList.Count items): @Model.ItemList.Sum(x => x.Price).Value.ToString("c") </div>
        <br />
        <a href="/Home/Checkout" class="btn btn-success" style="width: 100%; max-width: 320px;">Go to Checkout </a>
        <br /><br />
        <a href="/" class="btn btn-link text-success" style="width: 100%; max-width: 320px;">Continue Shopping </a>
    </div>
<hr />
<table>
    @foreach (ItemCart item in Model.ItemList)
    {
        <tr>
            <td style="width: 20%"><img src="@item.PictureUrl" style="max-width: 100%; max-height: 150px;" /></td>
            <td style="padding-left: 10px;">
                <div><b style="font-size: 16px;">@item.Name</b></div>
                <div class="price" style="font-size: 14px;">@item.Price.Value.ToString("c")</div>
                <div class="instock"> In Stock </div>
                <div class="price" style="font-size: 14px;"> Free Shipping </div>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-danger" href="/Home/DeleteItemFromCart/@item.ID"><span class="far fa-times"></span></a>
            </td>
            <td class="text-right">
                @using (Html.BeginForm("ChangeQuantity", "Home", FormMethod.Post, new { @class = "qty-form" }))
                {
                    <input type="hidden" name="id" value="@item.ID" />
                    <div class="d-flex justify-content-end">
                        <select name="qty" class="qty form-control" style="width: 100px;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                }
            </td>
        </tr>

        <script>
            $('.qty').val('@item.QtyInCart');
            $('.qty').change(function () {
                $('.qty-form').submit();
            });
        </script>
    }

</table>

